@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&display=swap');

.calculator_input{
    display: flex;
    background-color: white;
    cursor: text;
    margin: 0;
    font-family: 'Inconsolata', sans-serif;
    border: none;
    font-weight: 500;
    width: 100%;
    overflow: hidden;
    min-height: 70px;
    padding: 15px;
    letter-spacing: -3px;
    font-size: 25px;
    flex-direction: row;
    box-shadow: 0px 0px 12px -4px rgb(233, 135, 96);
}
.calculator_input:focus-within{
    outline: none;
    box-shadow: none;
    border: none;
}
.calculator_input:hover{
    border: none;
}